<section style="margin: 2em 2em;"  class="weather__card" (click)="openDetails()"
    [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': true}" *ngIf="!checkInSuccess && guestEmail " >
    


    <div [ngSwitch]="true" class="weather-icon__container">
        <img *ngSwitchCase="guestGender === 'Male'" src="https://img.icons8.com/dusk/128/000000/user-male.png">
        <img *ngSwitchCase="guestGender === 'Female'" src="https://img.icons8.com/dusk/128/000000/user-female.png">
    </div>

    <span class="city-name__text">{{guestFirstName}} {{ guestLastName }}<br>
        <p style="font-size: 14px; text-align: center;" class="temperature-metric__text">{{ guestEmail }}</p>
    </span>




    <div [ngSwitch]="true"  class="temperature-text__container">

       <p style="text-align: center" *ngSwitchCase="guestCheckedInStatus === true">Checked in at {{guestCheckedInTime}}</p>
        <button *ngSwitchCase="guestCheckedInStatus === false"   class="add-city-btn" (click)="checkGuestIn()">Check In +</button>


    </div>
    
</section>

<div *ngIf="checkInSuccess" class="city-added-note">
    <h5 class="add-success-text">Guest has been successfully checked in!</h5>
    <svg viewBox="0 0 50 50" height="5rem">
        <circle cx="25" cy="25" r="25" fill="#25ae88" />
        <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
            stroke-width="2" d="M38 15L22 33l-10-8" />
    </svg>
</div>

<app-error [message]="errorMessage"></app-error>